In [31]:
import pandas as pd
import numpy as np

In [7]:
m = pd.read_csv('./Disease to Score.csv')

In [10]:
df = pd.read_csv('./Data/data_LACE_not_scored.csv')

In [11]:
df.columns.tolist()

['patient_no',
 'case_no',
 'adm__datetime',
 'dis_datetime_x',
 'L',
 'A',
 'C',
 'E',
 'LABEL_readmission']

In [17]:
df.dtypes

patient_no            object
case_no               object
adm__datetime         object
dis_datetime_x        object
L                    float64
A                    float64
C                     object
E                    float64
LABEL_readmission    float64
dtype: object

In [19]:
df = df[df['C'] != '0'].head()

,patient_no,case_no,adm__datetime,dis_datetime_x,L,A,C,E,LABEL_readmission
68,0020F2352,098A0BAFD,2015-10-24 10:05:30 UTC,2015-10-26 13:33:10 UTC,2.0,0.0,cancer,0.0,0.0
346,00A737C11,2160D9280,2015-08-22 12:58:41 UTC,2015-08-22 15:43:50 UTC,1.0,0.0,cancer,0.0,0.0
683,0143F9EA5,0FBAF3441,2015-05-31 03:47:52 UTC,2015-06-21 16:36:29 UTC,7.0,3.0,cerebrovascular_disease,0.0,0.0
848,0192F729C,4E08A0408,2015-11-13 00:17:41 UTC,2015-11-13 15:29:36 UTC,1.0,3.0,chronic_pulmonary_disease,0.0,0.0
867,0199C6BF8,789B5C158,2016-11-10 21:53:13 UTC,2016-11-11 17:49:35 UTC,1.0,3.0,chronic_pulmonary_disease,1.0,0.0

In [20]:
m

                                        Comorbidities  Score  Done
0                               Myocardial infarction      1   1.0
1                            Congestive heart failure      1   1.0
2                         Peripheral vascular disease      1   1.0
3                             Cerebrovascular disease      1   1.0
4                                            Dementia      1   1.0
5                           Chronic pulmonary disease      1   1.0
6                                   Rheumatic disease      1   NaN
7                                Peptic ulcer disease      1   NaN
8                                  Mild liver disease      1   NaN
9               Diabetes without chronic complication      1   1.0
10                 Diabetes with chronic complication      2   NaN
11                           Hemiplegia or paraplegia      2   NaN
12  Any tumor lymphoma and leukemia, except malign...      2   1.0
13                                      Renal disease      2   1.0
14                   Moderate or severe liver disease      3   1.0
15                             Metastatic solid tumor      6   1.0
16                                           AIDS/HIV      6   NaN

In [34]:
a = df.C.unique()

In [37]:
len(a)

14

In [38]:
scores = np.array([0, 6, 1, 1, 1, 1, 1, 3, 1, 1, 2, 1, 1,3 ])

In [39]:
len(scores)

14

In [40]:
b = pd.DataFrame({'Disease':a,'Scores':scores})

In [41]:
b

                                        Disease  Scores
0                                             0       0
1                                        cancer       6
2                       cerebrovascular_disease       1
3                     chronic_pulmonary_disease       1
4                                 renal_disease       1
5                      congestive_heart_failure       1
6                    periphral_vascular_disease       1
7                            mild_liver_disease       3
8               moderate_or_sever_liver_disease       1
9                                      dementia       1
10                    diabetes_wo_complications       2
11  connective_tissue_disease_rheumatic_disease       1
12                         metastitic_carcinoma       1
13                    paraplegia_and_hemiplegia       3

In [42]:
b.to_csv('Disease to Score_new.csv')

In [20]:
m.columns.tolist()

['Myocardial infarction',
 'Congestive heart failure',
 'Peripheral vascular disease',
 'Cerebrovascular disease',
 'Dementia',
 'Chronic pulmonary disease',
 'Rheumatic disease',
 'Peptic ulcer disease',
 'Mild liver disease',
 'Diabetes without chronic complication',
 'Diabetes with chronic complication',
 'Hemiplegia or paraplegia',
 'Any tumor lymphoma and leukemia, except malignant neoplasm of skin',
 'Renal disease',
 'Moderate or severe liver disease',
 'Metastatic solid tumor',
 'AIDS/HIV']

In [25]:
m['Any tumor lymphoma and leukemia, except malignant neoplasm of skin']

25

In [10]:
type(m['Score'])

pandas.core.series.Series

In [11]:
a = {1:2, 3:4, 5:6}

In [16]:
a.values()

dict_values([2, 4, 6])